<!-- Header -->
<header class="kf-header">

	<!-- topline -->
	<div class="kf-topline">
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">

				<!-- hours -->
				<div class="kf-h-group">
					<i class="far fa-clock"></i>
					<em>Şu saatlerde açık :</em> 12.00 - 01.00
				</div>

			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 align-center">

				<!-- social -->
				<div class="kf-h-social">
					<a href="facebook.com" target="blank"><i class="fab fa-facebook-f"></i></a>
					<a href="https://www.#/cheffatihmehmett" target="blank"><i class="fab fa-youtube"></i></a>
					<a href="https://www.youtube.com/Cheffatihmehmet" target="blank"><i class="fab fa-youtube"></i></a>
				</div>

			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 align-right">
				<a href="#" id="openModal">
					<div class="kf-h-group">
						<i class="fas fa-map-marker-alt"></i>
						<em>Adres :</em> Aziziye, Mengüc Cd. No:41
					</div>
				</a>
				<!-- location -->


			</div>
			<div id="modal" class="modal">
				<div class="modal-content">
					<span class="close-btn" id="closeModal">&times;</span>
					<!-- Modal Content -->
					<center><h2>Somatçı Fihi Ma Fih Restaurant</h2></center>

					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d21191.694357036944!2d32.481600664894735!3d37.85644792147723!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d0851affffffff%3A0x38f25a86a3f11e60!2sSomat%C3%A7%C4%B1%20Fihi%20Ma%20Fih%20Restaurant!5e0!3m2!1str!2snl!4v1691835237936!5m2!1str!2snl" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
				</div>
			</div>
		</div>
	</div>

	<!-- navbar -->
	<div class="kf-navbar">
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">

				<!-- logo -->
				<div class="kf-logo">
					<a href="index.html"><img src="images/logo.png" alt="" /></a>
				</div>

			</div>
			<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 align-center">

				<!-- main menu -->
				<div class="kf-main-menu">
					<ul>
						<li>
							<a href="#">Ana Sayfa<i class="las la-angle-down"></i></a>
							<ul>
								<li><a href="#">Menu 1</a></li>
								<li><a href="#">Menu 2</a></li>
							</ul>
						</li>
						<li><a href="#">Hakkında</a></li>
						<li>
							<a href="#">Menu<i class="las la-angle-down"></i></a>
							<ul>
								<li><a href="#">Mevlevi Mutfağı</a></li>
								<li><a href="#">Konya Mutfağı</a></li>
							</ul>
						</li>
						<li>
							<a href="#">Hizmetler<i class="las la-angle-down"></i></a>
							<ul>
								<li><a href="#">Restorantımız</a></li>
								<li><a href="#">Rezervasyon</a></li>
								<li><a href="#">Tarihçe</a></li>
								<li><a href="#">Şeflerimiz</a></li>
								<li><a href="#">Galeri</a></li>
								<li><a href="#">Sık Sorulan Sorular</a></li>
							</ul>
						</li>

						<li><a href="#">İletişim</a></li>
					</ul>
				</div>

			</div>
			<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 align-right">

				<!-- menu btn -->
				<a href="#" class="kf-menu-btn"><span></span></a>

				<!-- btn -->
				<a href="https://wa.me/905521246068" class="kf-btn h-btn">
					<span>Rezervasyon Yap</span>
				</a>

			</div>
		</div>
	</div>

	<div class="kf-navbar-mobile">



		<!-- mobile topline -->
		<div class="kf-topline">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

					<!-- menu btn -->
					<!-- btn -->
					<a href="https://wa.me/905521246068" class="kf-btn h-btn">
						<span>Rezervasyon Yap</span>
					</a>


				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

					<!-- social -->
					<div class="kf-h-social">
						<a href="facebook.com" target="blank"><i class="fab fa-facebook-f"></i></a>
						<a href="twitter.com" target="blank"><i class="fab fa-twitter"></i></a>
						<a href="https://www.#/cheffatihmehmett" target="blank"><i class="fab fa-youtube"></i></a>
						<a href="https://www.youtube.com/Cheffatihmehmet" target="blank"><i class="fab fa-youtube"></i></a>
					</div>

				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

					<!-- hours -->
					<div class="kf-h-group">
						<i class="far fa-clock"></i>
						<em>opening hours :</em> 08:00 am - 09:00 pm
					</div>

				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

					<!-- location -->
					<div class="kf-h-group">
						<i class="fas fa-map-marker-alt"></i>
						<em>Location :</em> 55 main street, new york
					</div>

				</div>
			</div>
		</div>

	</div>

</header>
<br />
<br />
<!-- Wrapper -->
<div class="wrapper">

	<div class="section kf-insta-carousel element-anim-1 scroll-animate" data-animate="active">
		<div class="container">
			<div class="swiper-container">
				<div class="swiper-wrapper">
					<div class="swiper-slide">

						<div class="slide-item">
							<div class="image kf-image-hover">
								<a href="#" class="video-link" data-video="~/Videos/0.MP4">
									<img src="~/Videos/0.PNG" alt="" />
									<i class="fab fa-youtube"></i>
								</a>
							</div>
						</div>

					</div>
					<div class="swiper-slide">

						<div class="slide-item">
							<div class="image kf-image-hover">
								<a href="#" class="video-link" data-video="~/Videos/1.MP4">
									<img src="~/Videos/1.PNG" alt="" />
									<i class="fab fa-youtube"></i>
								</a>
							</div>
						</div>

					</div>
					<div class="swiper-slide">

						<div class="slide-item">
							<div class="image kf-image-hover">
								<a href="#" class="video-link" data-video="~/Videos/2.MP4">
									<img src="~/Videos/2.PNG" alt="" />
									<i class="fab fa-youtube"></i>
								</a>
							</div>
						</div>

					</div>
					<div class="swiper-slide">

						<div class="slide-item">
							<div class="image kf-image-hover">
								<a href="#" class="video-link" data-video="~/Videos/3.MP4">
									<img src="~/Videos/3.PNG" alt="" />
									<i class="fab fa-youtube"></i>
								</a>
							</div>
						</div>

					</div>
					<div class="swiper-slide">

						<div class="slide-item">
							<div class="image kf-image-hover">
								<a href="#" class="video-link" data-video="~/Videos/4.MP4">
									<img src="~/Videos/4.PNG" alt="" />
									<i class="fab fa-youtube"></i>
								</a>
							</div>
						</div>

					</div>
					<div class="swiper-slide">

						<div class="slide-item">
							<div class="image kf-image-hover">
								<a href="#" class="video-link" data-video="~/Videos/5.MP4">
									<img src="~/Videos/5.PNG" alt="" />
									<i class="fab fa-youtube"></i>
								</a>
							</div>
						</div>

					</div>
					<div class="swiper-slide">

						<div class="slide-item">
							<div class="image kf-image-hover">
								<a href="#" class="video-link" data-video="~/Videos/6.MP4">
									<img src="~/Videos/6.PNG" alt="" />
									<i class="fab fa-youtube"></i>
								</a>
							</div>
						</div>

					</div>
					<div class="swiper-slide">

						<div class="slide-item">
							<div class="image kf-image-hover">
								<a href="#" class="video-link" data-video="~/Videos/7.MP4">
									<img src="~/Videos/7.PNG" alt="" />
									<i class="fab fa-youtube"></i>
								</a>
							</div>
						</div>

					</div>
					<div class="swiper-slide">

						<div class="slide-item">
							<div class="image kf-image-hover">
								<a href="#" class="video-link" data-video="~/Videos/8.MP4">
									<img src="~/Videos/8.PNG" alt="" />
									<i class="fab fa-youtube"></i>
								</a>
							</div>
						</div>

					</div>
					<div class="swiper-slide">

						<div class="slide-item">
							<div class="image kf-image-hover">
								<a href="#" class="video-link" data-video="~/Videos/9.MP4">
									<img src="~/Videos/9.PNG" alt="" />
									<i class="fab fa-youtube"></i>
								</a>
							</div>
						</div>

					</div>
					<div class="swiper-slide">

						<div class="slide-item">
							<div class="image kf-image-hover">
								<a href="#" class="video-link" data-video="~/Videos/10.MP4">
									<img src="~/Videos/10.PNG" alt="" />
									<i class="fab fa-youtube"></i>
								</a>
							</div>
						</div>

					</div>
					<div class="swiper-slide">

						<div class="slide-item">
							<div class="image kf-image-hover">
								<a href="#" class="video-link" data-video="~/Videos/11.MP4">
									<img src="~/Videos/11.PNG" alt="" />
									<i class="fab fa-youtube"></i>
								</a>
							</div>
						</div>

					</div>
					<div class="swiper-slide">

						<div class="slide-item">
							<div class="image kf-image-hover">
								<a href="#" class="video-link" data-video="~/Videos/12.MP4">
									<img src="~/Videos/12.PNG" alt="" />
									<i class="fab fa-youtube"></i>
								</a>
							</div>
						</div>

					</div>
					<div class="swiper-slide">

						<div class="slide-item">
							<div class="image kf-image-hover">
								<a href="#" class="video-link" data-video="~/Videos/13.MP4">
									<img src="~/Videos/13.PNG" alt="" />
									<i class="fab fa-youtube"></i>
								</a>
							</div>
						</div>

					</div>
					<div class="swiper-slide">

						<div class="slide-item">
							<div class="image kf-image-hover">
								<a href="#" class="video-link" data-video="~/Videos/14.MP4">
									<img src="~/Videos/14.PNG" alt="" />
									<i class="fab fa-youtube"></i>
								</a>
							</div>
						</div>

					</div>
					<div class="swiper-slide">

						<div class="slide-item">
							<div class="image kf-image-hover">
								<a href="#" class="video-link" data-video="~/Videos/15.MP4">
									<img src="~/Videos/15.PNG" alt="" />
									<i class="fab fa-youtube"></i>
								</a>
							</div>
						</div>

					</div>
					<div class="swiper-slide">

						<div class="slide-item">
							<div class="image kf-image-hover">
								<a href="#" class="video-link" data-video="~/Videos/16.MP4">
									<img src="~/Videos/16.PNG" alt="" />
									<i class="fab fa-youtube"></i>
								</a>
							</div>
						</div>

					</div>
					<div class="swiper-slide">

						<div class="slide-item">
							<div class="image kf-image-hover">
								<a href="#" class="video-link" data-video="~/Videos/17.MP4">
									<img src="~/Videos/17.PNG" alt="" />
									<i class="fab fa-youtube"></i>
								</a>
							</div>
						</div>

					</div>
					<div class="swiper-slide">

						<div class="slide-item">
							<div class="image kf-image-hover">
								<a href="#" class="video-link" data-video="~/Videos/18.MP4">
									<img src="~/Videos/18.PNG" alt="" />
									<i class="fab fa-youtube"></i>
								</a>
							</div>
						</div>

					</div>


				</div>
			</div>
		</div>
	</div>

	<!-- Section Started Slider -->
	<div class="row">
		<div class="col-md-3">
			<h2 style="text-align: center;">Menüler</h2>
			<a href="#" class="modal-trigger">
				<img src="images/Menu/MevleviTr.PNG" alt="Image 1">
			</a>

		</div>
		<div class="col-md-6">
			<h2 style="text-align: center;">Aşık GPT Der ki</h2>
			<div class="ozluSoz">
				<img id="quoteImage" src="images/ozlu/1.png" alt="Image 1">

			</div>
		</div>

		<div class="col-md-3">
			<h2 style="text-align: center;">Günün ~/Videosu</h2>
			<div class="kf-video-item kf-image-hover element-anim-1 scroll-animate" style="background-image: url(images/video_bg.jpg);" data-animate="active">
				<iframe width="560" height="315" src="https://www.youtube.com/embed/v3QmkjiglWM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
				<div class="play"><i class="fas fa-play"></i></div>
			</div>
		</div>

		<section class="section kf-about section-bg">
			<iframe src="http://panorama.konyayikesfet.com/360/fihimafi/" style="border:0px #ffffff none;" name="myiFrame" scrolling="no" frameborder="1" height="600px" width="100%" allowfullscreen></iframe>
		</section>

		<div class="section kf-insta-carousel element-anim-1 scroll-animate" data-animate="active">
			<div class="container">
				<div class="swiper-container">
					<div class="swiper-wrapper">
						<div class="swiper-slide">

							<div class="slide-item">
								<div class="image kf-image-hover">
									<a href="#" target="blank">
										<img src="images/res1.jpg" alt="" loading="lazy" />
										<i class="fab fa-youtube"></i>
									</a>
								</div>
							</div>

						</div>
						<div class="swiper-slide">

							<div class="slide-item">
								<div class="image kf-image-hover">
									<a href="#" target="blank">
										<img src="images/res2.jpg" alt="" loading="lazy" />
										<i class="fab fa-youtube"></i>
									</a>
								</div>
							</div>

						</div>
						<div class="swiper-slide">

							<div class="slide-item">
								<div class="image kf-image-hover">
									<a href="#" target="blank">
										<img src="images/res3.jpg" alt="" loading="lazy" />
										<i class="fab fa-youtube"></i>
									</a>
								</div>
							</div>

						</div>
						<div class="swiper-slide">

							<div class="slide-item">
								<div class="image kf-image-hover">
									<a href="#" target="blank">
										<img src="images/res4.jpg" alt="" loading="lazy" />
										<i class="fab fa-youtube"></i>
									</a>
								</div>
							</div>

						</div>
						<div class="swiper-slide">

							<div class="slide-item">
								<div class="image kf-image-hover">
									<a href="#" target="blank">
										<img src="images/res5.jpg" alt="" loading="lazy" />
										<i class="fab fa-youtube"></i>
									</a>
								</div>
							</div>

						</div>

					</div>
				</div>
			</div>
		</div>




	</div>

	<!-- Footer -->
	<div class="kf-footer">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">

					<!-- logo -->
					<div class="kf-logo element-anim-1 scroll-animate" data-animate="active">
						<a href="index.html"><img src="images/logo.png" alt="" loading="lazy" /></a>
					</div>

				</div>
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">

					<!-- hours -->
					<div class="kf-f-hours element-anim-1 scroll-animate" data-animate="active">
						<h5>Çalışma Saatleri</h5>
						<ul>
							<li>
								Haftaiçi
								<em>11.00 - 01.00</em>
							</li>
							<li>
								Haftasonu
								<em>12.00 - 02.00</em>
							</li>
							<li>
								<strong>Rezervasyon için arayın</strong>
							</li>
						</ul>
					</div>

				</div>
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">

					<!-- contact -->
					<div class="kf-f-contact element-anim-1 scroll-animate" data-animate="active">
						<h5>Bize Ulaşın</h5>
						<ul>
							<li>
								<i class="las la-map-marker"></i>
								<em>Konum :</em>
								Aziziye, Mengüc Cd. No:41, 42030 Karatay/Konya, Türkiye
							</li>
							<li>
								<i class="las la-envelope-open-text"></i>
								<em>Email adres :</em>
								seffatihmehmet@gmail.com
							</li>
							<li>
								<i class="las la-phone"></i>
								<em>Telefon Numarası :</em>
								+012 (345) 678 99
							</li>
						</ul>
					</div>

				</div>
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">

					<!-- gallery -->
					<div class="kf-f-gallery element-anim-1 scroll-animate" data-animate="active">
						<h5>Galeri</h5>
						<ul>
							<li>
								<a href="images/grid_gal1.jpg" class="kf-image-hover has-popup-image"><img src="images/grid_gal1.jpg" alt="" loading="lazy" /></a>
							</li>
							<li>
								<a href="images/grid_gal2.jpg" class="kf-image-hover has-popup-image"><img src="images/grid_gal2.jpg" alt="" loading="lazy" /></a>
							</li>
							<li>
								<a href="images/grid_gal3.jpg" class="kf-image-hover has-popup-image"><img src="images/grid_gal3.jpg" alt="" loading="lazy" /></a>
							</li>
							<li>
								<a href="images/grid_gal4.jpg" class="kf-image-hover has-popup-image"><img src="images/grid_gal4.jpg" alt="" loading="lazy" /></a>
							</li>
							<li>
								<a href="images/grid_gal5.jpg" class="kf-image-hover has-popup-image"><img src="images/grid_gal5.jpg" alt="" loading="lazy" /></a>
							</li>
							<li>
								<a href="images/grid_gal6.jpg" class="kf-image-hover has-popup-image"><img src="images/grid_gal1.jpg" alt="" loading="lazy" /></a>
							</li>
						</ul>
					</div>

				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 align-center">

					<!-- copyright -->
					<div class="kf-copyright element-anim-1 scroll-animate" data-animate="active">
						Copyright © 2023 Chef. Fatih Mehmet. Tüm Hakları Saklıdır.
					</div>

				</div>
			</div>
		</div>
	</div>

</div>
<div id="video-popup" class="mfp-hide">
	<video controls id="popupVideo">
		<source id="srcId" src="" type="video/mp4">
		Your browser does not support the video tag.
	</video>
</div>

<div id="Language-Modal" class="mfp-hide">
	<div class="container">
		<center><h2 style="align-items: center;">Dil Seçin (Choose Your Language)</h2></center>
		<div class="kf-services-items row">


			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
				<div class="kf-services-item element-anim-1 scroll-animate animate__active animate__animated" data-animate="active" style="visibility: visible;">
					<div class="image kf-image-hover">
						<a href="#" class="modal-trigger-turkce"><img src="images/Meal/turkish.jpg" alt="" loading="lazy"></a>
					</div>
					<div class="desc">
						<h5 class="name">Türkçe</h5>

					</div>
				</div>
			</div>

			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
				<div class="kf-services-item element-anim-1 scroll-animate animate__active animate__animated" data-animate="active" style="visibility: visible;">
					<div class="image kf-image-hover">
						<a href="#" class="modal-trigger-english"><img src="images/Meal/UK-US_flag.png" alt="" loading="lazy"></a>
					</div>
					<div class="desc">
						<h5 class="name">English</h5>

					</div>
				</div>
			</div>
		</div>
	</div>

</div>

<div id="Turkce-Menu-Modal" class="mfp-hide" style="background-color: rgba(0, 0, 0, 0.767);">
	<div class="container">
		<section class="section kf-menu kf-menu-tabs">
			<div class="container">

				<div class="kf-titles align-center">
					<div class="kf-subtitle element-anim-1 scroll-animate animate__active animate__animated" data-animate="active" style="visibility: visible;">
						Chef. Fatih Mehmet
					</div>
					<font color="#851515">
						<h3 class="kf-title element-anim-1 scroll-animate animate__active animate__animated" data-animate="active" style="visibility: visible;" style="color:#851515">
							Yemek Menüsü
						</h3>
					</font>
				</div>

				<div class="kf-filter kf-filter-menu element-anim-1 scroll-animate animate__active animate__animated" data-animate="active" style="visibility: visible;">
					<a href="#" data-href=".mevlevi" class="active">Mevlevi</a>
					<a href="#" data-href=".konya" class="">Konya Mutfağı</a>
					<a href="#" data-href=".sicak" class="">Sıcak İçecekler</a>
					<a href="#" data-href=".kahvalti" class="">Kahvaltı</a>
					<a href="#" data-href=".salata" class="">Salata</a>
					<a href="#" data-href=".tatli" class="">Tatlı</a>

					<a href="#" data-href=".vegan" class="">Vegan</a>
					<a href="#" data-href=".vejeteryan" class="">Vejeteryan</a>
					<a href="#" data-href=".icecekler" class="">İçecekler</a>


				</div>

				<div class="kf-menu-items" style="background-image: url(images/menu_logo.png); height: auto; width: auto;">
					<div class="row">

						<!--

							Mevlevi Başı
						-->

						<div class="kf-menu-item-col col-xs-12 col-sm-12 col-md-12 col-lg-6 all mevlevi">
							<div class="kf-menu-item element-anim-1 scroll-animate" data-animate="active">
								<div class="image kf-image-hover">
								</div>
								<div class="desc">
									<h5 class="name">Fihi Ma Fih Çorbası</h5>
									<div class="subname">Un, Bulgur, Mercimek, Prinç Fasülye, Nohut, Dana Eti, Zerdeçal ve Diğer Baharatlar</div>
									<div class="price"></div>
								</div>
							</div>
						</div>

						<div class="kf-menu-item-col col-xs-12 col-sm-12 col-md-12 col-lg-6 all mevlevi">
							<div class="kf-menu-item element-anim-1 scroll-animate" data-animate="active">
								<div class="image kf-image-hover">
								</div>
								<div class="desc">
									<h5 class="name">Ispanaklı Sütlü Börek</h5>
									<div class="subname">El Açması Yufka, Ispanak, Süt, Kaşar Peyniri, Beyaz Peynir, Tulum Peyniri</div>
									<div class="price"></div>
								</div>
							</div>
						</div>

						<div class="kf-menu-item-col col-xs-12 col-sm-12 col-md-12 col-lg-6 mevlevi">
							<div class="kf-menu-item element-anim-1 scroll-animate" data-animate="active">
								<div class="image kf-image-hover">
								</div>
								<div class="desc">
									<h5 class="name">Pekmezli Havuç Yemeği</h5>
									<div class="subname">Prinç Pekmez, Havuç, Kuru soğan ve baharatlar</div>
									<div class="price"></div>
								</div>
							</div>
						</div>

						<div class="kf-menu-item-col col-xs-12 col-sm-12 col-md-12 col-lg-6 mevlevi">
							<div class="kf-menu-item element-anim-1 scroll-animate" data-animate="active">
								<div class="image kf-image-hover">
								</div>
								<div class="desc">
									<h5 class="name">Ispanak Boranisi</h5>
									<div class="subname">Ispanak, Kuru Soğan, Bitkisel Yağ ve Baharatlar</div>
									<div class="price"></div>
								</div>
							</div>
						</div>

						<div class="kf-menu-item-col col-xs-12 col-sm-12 col-md-12 col-lg-6 mevlevi">
							<div class="kf-menu-item element-anim-1 scroll-animate" data-animate="active">
								<div class="image kf-image-hover">
								</div>
								<div class="desc">
									<h5 class="name">Hassaten Lokma (Lokmanın Hası)</h5>
									<div class="subname">Pirinç, Dana Eti, Kuru İncir, Kuş Üzümü, Badem, Fıstık ve Baharatlar</div>
									<div class="price"></div>
								</div>
							</div>
						</div>

						<div class="kf-menu-item-col col-xs-12 col-sm-12 col-md-12 col-lg-6 mevlevi">
							<div class="kf-menu-item element-anim-1 scroll-animate" data-animate="active">
								<div class="image kf-image-hover">
								</div>
								<div class="desc">
									<h5 class="name">Bademli Köfte</h5>
									<div class="subname">Dana Kıyma, Badem Unu, Galeta Unu, File Badem, 12 Çeşit Bitki Kökü ile Hazırlanan Özel Sos ve Baharatlar</div>
									<div class="price"></div>
								</div>
							</div>
						</div>

						<div class="kf-menu-item-col col-xs-12 col-sm-12 col-md-12 col-lg-6 mevlevi">
							<div class="kf-menu-item element-anim-1 scroll-animate" data-animate="active">
								<div class="image kf-image-hover">
								</div>
								<div class="desc">
									<h5 class="name">Kuru İncirli Et</h5>
									<div class="subname">Toprak Güveç, Dana bonfile eti, Kuru İncir ve Baharatlar </div>
									<div class="price"></div>
								</div>
							</div>
						</div>

						<div class="kf-menu-item-col col-xs-12 col-sm-12 col-md-12 col-lg-6 mevlevi">
							<div class="kf-menu-item element-anim-1 scroll-animate" data-animate="active">
								<div class="image kf-image-hover">
								</div>
								<div class="desc">
									<h5 class="name">12'li Tava Kebabı</h5>
									<div class="subname">Toprak güveç Kabın içerisinde Dana Biftek Eti, 12 Çeşit Bitki Kökü ile hazırlanan özel Et Sosu ve baharatlar</div>
									<div class="price"></div>
								</div>
							</div>
						</div>
						<div class="kf-menu-item-col col-xs-12 col-sm-12 col-md-12 col-lg-6 mevlevi">
							<div class="kf-menu-item element-anim-1 scroll-animate" data-animate="active">
								<div class="image kf-image-hover">
								</div>
								<div class="desc">
									<h5 class="name">Badem Helvası</h5>
									<div class="subname"></div>
									<div class="price"></div>
								</div>
							</div>
						</div>

						<!--
							Konya  Mutfağı
						-->

						<div class="kf-menu-item-col col-xs-12 col-sm-12 col-md-12 col-lg-6 konya">
							<div class="kf-menu-item element-anim-1 scroll-animate" data-animate="active">
								<div class="image kf-image-hover">
								</div>
								<div class="desc">
									<h5 class="name">Bamya Çorbası</h5>
									<div class="subname">Un Yağ Kuru Soğan Kavrulmuş Çiçek Bamya Dana Eti ve Baharatlars</div>
									<div class="price"></div>
								</div>
							</div>
						</div>

						<div class="kf-menu-item-col col-xs-12 col-sm-12 col-md-12 col-lg-6 konya">
							<div class="kf-menu-item element-anim-1 scroll-animate" data-animate="active">
								<div class="image kf-image-hover">
								</div>
								<div class="desc">
									<h5 class="name">Yarım Etliekmek</h5>
									<div class="subname">İnce hamur üzerine dana kıyma, Kuru Soğan, Domates, Biber, Maydonoz ve Baharatlar</div>
									<div class="price"></div>
								</div>
							</div>
						</div>

						<div class="kf-menu-item-col col-xs-12 col-sm-12 col-md-12 col-lg-6 konya">
							<div class="kf-menu-item element-anim-1 scroll-animate" data-animate="active">
								<div class="image kf-image-hover">
								</div>
								<div class="desc">
									<h5 class="name">Yarım Konya Böreği</h5>
									<div class="subname">İnce Hamur İçerisine Kaşar Peyniri, Konya Yeşil Peynir, Tulum Peynir</div>
									<div class="price"></div>
								</div>
							</div>
						</div>

						<div class="kf-menu-item-col col-xs-12 col-sm-12 col-md-12 col-lg-6 konya">
							<div class="kf-menu-item element-anim-1 scroll-animate" data-animate="active">
								<div class="image kf-image-hover">
								</div>
								<div class="desc">
									<h5 class="name">Konya Yeşil Peynirli Sıkma</h5>
									<div class="subname">İnce Lavaş İçerisine Kaşar Peyniriü Konya Yeşil Peynir, Tulum Peynir</div>
									<div class="price"></div>
								</div>
							</div>
						</div>

						<div class="kf-menu-item-col col-xs-12 col-sm-12 col-md-12 col-lg-6 konya">
							<div class="kf-menu-item element-anim-1 scroll-animate" data-animate="active">
								<div class="image kf-image-hover">
								</div>
								<div class="desc">
									<h5 class="name">Kuyu Tandır Kebabı</h5>
									<div class="subname">Kuyu tandırda Bakır tencere içerisinde kendi yağında Hiçbir katkı kullanılmadan 8-10 Saat Aralığında Pişirilmiş Kemiksiz Kuzu Eti</div>
									<div class="price"></div>
								</div>
							</div>
						</div>

						<div class="kf-menu-item-col col-xs-12 col-sm-12 col-md-12 col-lg-6 konya">
							<div class="kf-menu-item element-anim-1 scroll-animate" data-animate="active">
								<div class="image kf-image-hover">
								</div>
								<div class="desc">
									<h5 class="name">Et Tiridi</h5>
									<div class="subname">Toprak Güveç Kabın İçerisinde Küp Doğranmış Pide üzerine Yoğurt, Sarımsaklı Soğan, Dana Kavurma, Maydonuz, Tereyağı ve Baharatlar</div>
									<div class="price"></div>
								</div>
							</div>
						</div>

						<div class="kf-menu-item-col col-xs-12 col-sm-12 col-md-12 col-lg-6 konya">
							<div class="kf-menu-item element-anim-1 scroll-animate" data-animate="active">
								<div class="image kf-image-hover">
								</div>
								<div class="desc">
									<h5 class="name">Kayısılı Kuzu Gerdan</h5>
									<div class="subname">Toprak Güveç kabın içerisinde safranlı zerdeçallı Bulgur Pilavı Üzeride Kuru Kayısılı ve Kuru Soğan ile Haşlanmış Kuzu Gergedan Eti </div>
									<div class="price"></div>
								</div>
							</div>
						</div>

						<div class="kf-menu-item-col col-xs-12 col-sm-12 col-md-12 col-lg-6 konya">
							<div class="kf-menu-item element-anim-1 scroll-animate" data-animate="active">
								<div class="image kf-image-hover">
								</div>
								<div class="desc">
									<h5 class="name">Saçarası</h5>
									<div class="subname"></div>
									<div class="price"></div>
								</div>
							</div>
						</div>

						<!--
							Sıcak İçecekler
						-->

						<div class="kf-menu-item-col col-xs-12 col-sm-12 col-md-12 col-lg-6 sicak">
							<div class="kf-menu-item element-anim-1 scroll-animate" data-animate="active">
								<div class="image kf-image-hover">
								</div>
								<div class="desc">
									<h5 class="name">Çay</h5>
									<div class="subname"></div>
									<div class="price"></div>
								</div>
							</div>
						</div>

						<div class="kf-menu-item-col col-xs-12 col-sm-12 col-md-12 col-lg-6 sicak">
							<div class="kf-menu-item element-anim-1 scroll-animate" data-animate="active">
								<div class="image kf-image-hover">
								</div>
								<div class="desc">
									<h5 class="name">Türk Kahvesi</h5>
									<div class="subname"></div>
									<div class="price"></div>
								</div>
							</div>
						</div>

						<div class="kf-menu-item-col col-xs-12 col-sm-12 col-md-12 col-lg-6 sicak">
							<div class="kf-menu-item element-anim-1 scroll-animate" data-animate="active">
								<div class="image kf-image-hover">
								</div>
								<div class="desc">
									<h5 class="name">Menengiç Kahvesi</h5>
									<div class="subname"></div>
									<div class="price"></div>
								</div>
							</div>
						</div>

						<div class="kf-menu-item-col col-xs-12 col-sm-12 col-md-12 col-lg-6 sicak">
							<div class="kf-menu-item element-anim-1 scroll-animate" data-animate="active">
								<div class="image kf-image-hover">
								</div>
								<div class="desc">
									<h5 class="name">Dibek Kahvesi</h5>
									<div class="subname"></div>
									<div class="price"></div>
								</div>
							</div>
						</div>

						<div class="kf-menu-item-col col-xs-12 col-sm-12 col-md-12 col-lg-6 sicak">
							<div class="kf-menu-item element-anim-1 scroll-animate" data-animate="active">
								<div class="image kf-image-hover">
								</div>
								<div class="desc">
									<h5 class="name">Osmanlı Kahvesi</h5>
									<div class="subname"></div>
									<div class="price"></div>
								</div>
							</div>
						</div>

						<div class="kf-menu-item-col col-xs-12 col-sm-12 col-md-12 col-lg-6 sicak">
							<div class="kf-menu-item element-anim-1 scroll-animate" data-animate="active">
								<div class="image kf-image-hover">
								</div>
								<div class="desc">
									<h5 class="name">Filtre Kahve</h5>
									<div class="subname"></div>
									<div class="price"></div>
								</div>
							</div>
						</div>

						<div class="kf-menu-item-col col-xs-12 col-sm-12 col-md-12 col-lg-6 sicak">
							<div class="kf-menu-item element-anim-1 scroll-animate" data-animate="active">
								<div class="image kf-image-hover">
								</div>
								<div class="desc">
									<h5 class="name">Sütlü Filtre Kahve</h5>
									<div class="subname"></div>
									<div class="price"></div>
								</div>
							</div>
						</div>
						<div class="kf-menu-item-col col-xs-12 col-sm-12 col-md-12 col-lg-6 sicak">
							<div class="kf-menu-item element-anim-1 scroll-animate" data-animate="active">
								<div class="image kf-image-hover">
								</div>
								<div class="desc">
									<h5 class="name">Nescafe</h5>
									<div class="subname"></div>
									<div class="price"></div>
								</div>
							</div>
						</div>

						<div class="kf-menu-item-col col-xs-12 col-sm-12 col-md-12 col-lg-6 sicak">
							<div class="kf-menu-item element-anim-1 scroll-animate" data-animate="active">
								<div class="image kf-image-hover">
								</div>
								<div class="desc">
									<h5 class="name">Sahlep</h5>
									<div class="subname"></div>
									<div class="price"></div>
								</div>
							</div>
						</div>

						<div class="kf-menu-item-col col-xs-12 col-sm-12 col-md-12 col-lg-6 sicak">
							<div class="kf-menu-item element-anim-1 scroll-animate" data-animate="active">
								<div class="image kf-image-hover">
								</div>
								<div class="desc">
									<h5 class="name">Sıcak Süt</h5>
									<div class="subname"></div>
									<div class="price"></div>
								</div>
							</div>
						</div>

						<div class="kf-menu-item-col col-xs-12 col-sm-12 col-md-12 col-lg-6 sicak">
							<div class="kf-menu-item element-anim-1 scroll-animate" data-animate="active">
								<div class="image kf-image-hover">
								</div>
								<div class="desc">
									<h5 class="name">Sıcak Ballı Süt</h5>
									<div class="subname"></div>
									<div class="price"></div>
								</div>
							</div>
						</div>

						<div class="kf-menu-item-col col-xs-12 col-sm-12 col-md-12 col-lg-6 sicak">
							<div class="kf-menu-item element-anim-1 scroll-animate" data-animate="active">
								<div class="image kf-image-hover">
								</div>
								<div class="desc">
									<h5 class="name">Yeşil Çay</h5>
									<div class="subname"></div>
									<div class="price"></div>
								</div>
							</div>
						</div>

						<div class="kf-menu-item-col col-xs-12 col-sm-12 col-md-12 col-lg-6 sicak">
							<div class="kf-menu-item element-anim-1 scroll-animate" data-animate="active">
								<div class="image kf-image-hover">
								</div>
								<div class="desc">
									<h5 class="name">Ada Çayı</h5>
									<div class="subname"></div>
									<div class="price"></div>
								</div>
							</div>
						</div>

						<div class="kf-menu-item-col col-xs-12 col-sm-12 col-md-12 col-lg-6 sicak">
							<div class="kf-menu-item element-anim-1 scroll-animate" data-animate="active">
								<div class="image kf-image-hover">
								</div>
								<div class="desc">
									<h5 class="name">Ihlamur</h5>
									<div class="subname"></div>
									<div class="price"></div>
								</div>
							</div>
						</div>

						<div class="kf-menu-item-col col-xs-12 col-sm-12 col-md-12 col-lg-6 sicak">
							<div class="kf-menu-item element-anim-1 scroll-animate" data-animate="active">
								<div class="image kf-image-hover">
								</div>
								<div class="desc">
									<h5 class="name">Hibisküs</h5>
									<div class="subname"></div>
									<div class="price"></div>
								</div>
							</div>
						</div>

						<div class="kf-menu-item-col col-xs-12 col-sm-12 col-md-12 col-lg-6 sicak">
							<div class="kf-menu-item element-anim-1 scroll-animate" data-animate="active">
								<div class="image kf-image-hover">
								</div>
								<div class="desc">
									<h5 class="name">Early Grey</h5>
									<div class="subname"></div>
									<div class="price"></div>
								</div>
							</div>
						</div>

						<div class="kf-menu-item-col col-xs-12 col-sm-12 col-md-12 col-lg-6 sicak">
							<div class="kf-menu-item element-anim-1 scroll-animate" data-animate="active">
								<div class="image kf-image-hover">
								</div>
								<div class="desc">
									<h5 class="name">Papatya</h5>
									<div class="subname"></div>
									<div class="price"></div>
								</div>
							</div>
						</div>

						<div class="kf-menu-item-col col-xs-12 col-sm-12 col-md-12 col-lg-6 sicak">
							<div class="kf-menu-item element-anim-1 scroll-animate" data-animate="active">
								<div class="image kf-image-hover">
								</div>
								<div class="desc">
									<h5 class="name">Nane Limon</h5>
									<div class="subname"></div>
									<div class="price"></div>
								</div>
							</div>
						</div>

						<div class="kf-menu-item-col col-xs-12 col-sm-12 col-md-12 col-lg-6 sicak">
							<div class="kf-menu-item element-anim-1 scroll-animate" data-animate="active">
								<div class="image kf-image-hover">
								</div>
								<div class="desc">
									<h5 class="name">Elma</h5>
									<div class="subname"></div>
									<div class="price"></div>
								</div>
							</div>
						</div>
						<!--
							Kahvaltı
						-->
						<div class="kf-menu-item-col col-xs-12 col-sm-12 col-md-12 col-lg-6 kahvalti">
							<div class="kf-menu-item element-anim-1 scroll-animate" data-animate="active">
								<div class="image kf-image-hover">
								</div>
								<div class="desc">
									<h5 class="name">Soğuk Serpme Kahvanltı </h5>
									<div class="subname">Tulum peyniri, Beyaz Peynir,Kaşar Peyniri, Süzme Peynir, Konya Yeşil Peynir, Yeşil Biberli Peynir, Yeşil Zeytinli Peynir, Siyah Zeytin, Bal, Kaymak, Tereyağı,köpük helva, 5 Çeşit Somatçı ev yapımı reçel, domates, salatalık, mevsim meyvesi, tahin, pekmez, kuru kayısı, kuru incir, ceviz</div>
									<div class="price"></div>
								</div>
							</div>
						</div>
						<div class="kf-menu-item-col col-xs-12 col-sm-12 col-md-12 col-lg-6 kahvalti">
							<div class="kf-menu-item element-anim-1 scroll-animate" data-animate="active">
								<div class="image kf-image-hover">
								</div>
								<div class="desc">
									<h5 class="name">Kahvalı Tabağı</h5>
									<div class="subname">
										Kaşar Peyniir, Süzme Peynir, Konya Yeşil Peynir, Yeşil Biberli Peynir, Yeşil Biberli Zeytin, bal, kaymak, tereyağı, köpük helva, 3 çeşit somatcı ev yapımı reçel, domates, salatalık, mevsim meyvesi, tahin, pekmez
									</div>
									<div class="price"></div>
								</div>
							</div>
						</div>
						<div class="kf-menu-item-col col-xs-12 col-sm-12 col-md-12 col-lg-6 kahvalti">
							<div class="kf-menu-item element-anim-1 scroll-animate" data-animate="active">
								<div class="image kf-image-hover">
								</div>
								<div class="desc">
									<h5 class="name">Tereyağı Çılbır</h5>
									<div class="subname">
									</div>
									<div class="price"></div>
								</div>
							</div>
						</div>
						<div class="kf-menu-item-col col-xs-12 col-sm-12 col-md-12 col-lg-6 kahvalti">
							<div class="kf-menu-item element-anim-1 scroll-animate" data-animate="active">
								<div class="image kf-image-hover">
								</div>
								<div class="desc">
									<h5 class="name">Paçanga Böreği</h5>
									<div class="subname">
									</div>
									<div class="price"></div>
								</div>
							</div>
						</div>
						<div class="kf-menu-item-col col-xs-12 col-sm-12 col-md-12 col-lg-6 kahvalti">
							<div class="kf-menu-item element-anim-1 scroll-animate" data-animate="active">
								<div class="image kf-image-hover">
								</div>
								<div class="desc">
									<h5 class="name">Ispanaklı Sütlü Börek</h5>
									<div class="subname">
									</div>
									<div class="price"></div>
								</div>
							</div>
						</div>
						<div class="kf-menu-item-col col-xs-12 col-sm-12 col-md-12 col-lg-6 kahvalti">
							<div class="kf-menu-item element-anim-1 scroll-animate" data-animate="active">
								<div class="image kf-image-hover">
								</div>
								<div class="desc">
									<h5 class="name">Patates Kızartması</h5>
									<div class="subname">
									</div>
									<div class="price"></div>
								</div>
							</div>
						</div>
						<div class="kf-menu-item-col col-xs-12 col-sm-12 col-md-12 col-lg-6 kahvalti">
							<div class="kf-menu-item element-anim-1 scroll-animate" data-animate="active">
								<div class="image kf-image-hover">
								</div>
								<div class="desc">
									<h5 class="name">Sade Omlet / Peynirli Omlet</h5>
									<div class="subname">
									</div>
									<div class="price"></div>
								</div>
							</div>
						</div>
						<div class="kf-menu-item-col col-xs-12 col-sm-12 col-md-12 col-lg-6 kahvalti">
							<div class="kf-menu-item element-anim-1 scroll-animate" data-animate="active">
								<div class="image kf-image-hover">
								</div>
								<div class="desc">
									<h5 class="name">Omlet Çeşitleri</h5>
									<div class="subname">
										Kavurmalı, Sucuklu, Mantarlı
									</div>
									<div class="price"></div>
								</div>
							</div>
						</div>
						<div class="kf-menu-item-col col-xs-12 col-sm-12 col-md-12 col-lg-6 kahvalti">
							<div class="kf-menu-item element-anim-1 scroll-animate" data-animate="active">
								<div class="image kf-image-hover">
								</div>
								<div class="desc">
									<h5 class="name">Sahanda Yumurta</h5>
									<div class="subname">
									</div>
									<div class="price"></div>
								</div>
							</div>
						</div>
						<div class="kf-menu-item-col col-xs-12 col-sm-12 col-md-12 col-lg-6 kahvalti">
							<div class="kf-menu-item element-anim-1 scroll-animate" data-animate="active">
								<div class="image kf-image-hover">
								</div>
								<div class="desc">
									<h5 class="name">Kavurmalı Yumurta</h5>
									<div class="subname">
									</div>
									<div class="price"></div>
								</div>
							</div>
						</div>
						<div class="kf-menu-item-col col-xs-12 col-sm-12 col-md-12 col-lg-6 kahvalti">
							<div class="kf-menu-item element-anim-1 scroll-animate" data-animate="active">
								<div class="image kf-image-hover">
								</div>
								<div class="desc">
									<h5 class="name">Ev Yapımı Sucuklu Yumurta</h5>
									<div class="subname">
									</div>
									<div class="price"></div>
								</div>
							</div>
						</div>
						<div class="kf-menu-item-col col-xs-12 col-sm-12 col-md-12 col-lg-6 kahvalti">
							<div class="kf-menu-item element-anim-1 scroll-animate" data-animate="active">
								<div class="image kf-image-hover">
								</div>
								<div class="desc">
									<h5 class="name">Çömlek Menemen</h5>
									<div class="subname">
									</div>
									<div class="price"></div>
								</div>
							</div>
						</div>
						<div class="kf-menu-item-col col-xs-12 col-sm-12 col-md-12 col-lg-6 kahvalti">
							<div class="kf-menu-item element-anim-1 scroll-animate" data-animate="active">
								<div class="image kf-image-hover">
								</div>
								<div class="desc">
									<h5 class="name">Ev Yapımı Sucuk</h5>
									<div class="subname">
									</div>
									<div class="price"></div>
								</div>
							</div>
						</div>
						<div class="kf-menu-item-col col-xs-12 col-sm-12 col-md-12 col-lg-6 kahvalti">
							<div class="kf-menu-item element-anim-1 scroll-animate" data-animate="active">
								<div class="image kf-image-hover">
								</div>
								<div class="desc">
									<h5 class="name">Çömlekte Sade Kavurma</h5>
									<div class="subname">
									</div>
									<div class="price"></div>
								</div>
							</div>
						</div>
						<div class="kf-menu-item-col col-xs-12 col-sm-12 col-md-12 col-lg-6 kahvalti">
							<div class="kf-menu-item element-anim-1 scroll-animate" data-animate="active">
								<div class="image kf-image-hover">
								</div>
								<div class="desc">
									<h5 class="name">Çömlekte Kaşarlı Mantar</h5>
									<div class="subname">
									</div>
									<div class="price"></div>
								</div>
							</div>
						</div>

						<div class="kf-menu-item-col col-xs-12 col-sm-12 col-md-12 col-lg-6 kahvalti">
							<div class="kf-menu-item element-anim-1 scroll-animate" data-animate="active">
								<div class="image kf-image-hover">
								</div>
								<div class="desc">
									<h5 class="name">Babaganmuş (Çömlekte)</h5>
									<div class="subname">
									</div>
									<div class="price"></div>
								</div>
							</div>
						</div>

						<div class="kf-menu-item-col col-xs-12 col-sm-12 col-md-12 col-lg-6 kahvalti">
							<div class="kf-menu-item element-anim-1 scroll-animate" data-animate="active">
								<div class="image kf-image-hover">
								</div>
								<div class="desc">
									<h5 class="name">Taze Sıkma Meyve Suyu</h5>
									<div class="subname">
									</div>
									<div class="price"></div>
								</div>
							</div>
						</div>

						<div class="kf-menu-item-col col-xs-12 col-sm-12 col-md-12 col-lg-6 kahvalti">
							<div class="kf-menu-item element-anim-1 scroll-animate" data-animate="active">
								<div class="image kf-image-hover">
								</div>
								<div class="desc">
									<h5 class="name">Süt</h5>
									<div class="subname">
									</div>
									<div class="price"></div>
								</div>
							</div>
						</div>

						<div class="kf-menu-item-col col-xs-12 col-sm-12 col-md-12 col-lg-6 kahvalti">
							<div class="kf-menu-item element-anim-1 scroll-animate" data-animate="active">
								<div class="image kf-image-hover">
								</div>
								<div class="desc">
									<h5 class="name">Ballı Süt</h5>
									<div class="subname">
									</div>
									<div class="price"></div>
								</div>
							</div>
						</div>

						<div class="kf-menu-item-col col-xs-12 col-sm-12 col-md-12 col-lg-6 kahvalti">
							<div class="kf-menu-item element-anim-1 scroll-animate" data-animate="active">
								<div class="image kf-image-hover">
								</div>
								<div class="desc">
									<h5 class="name">Termos Çay</h5>
									<div class="subname">
									</div>
									<div class="price"></div>
								</div>
							</div>
						</div>

						<div class="kf-menu-item-col col-xs-12 col-sm-12 col-md-12 col-lg-6 kahvalti">
							<div class="kf-menu-item element-anim-1 scroll-animate" data-animate="active">
								<div class="image kf-image-hover">
								</div>
								<div class="desc">
									<h5 class="name">Bardak Çay</h5>
									<div class="subname">
									</div>
									<div class="price"></div>
								</div>
							</div>
						</div>

						<!--
							Salata
						-->
						<div class="kf-menu-item-col col-xs-12 col-sm-12 col-md-12 col-lg-6 salata">
							<div class="kf-menu-item element-anim-1 scroll-animate" data-animate="active">
								<div class="image kf-image-hover">
								</div>
								<div class="desc">
									<h5 class="name">Gül Yapraklı Marul Salatası</h5>
									<div class="subname">
									</div>
									<div class="price"></div>
								</div>
							</div>
						</div>
						<div class="kf-menu-item-col col-xs-12 col-sm-12 col-md-12 col-lg-6 salata">
							<div class="kf-menu-item element-anim-1 scroll-animate" data-animate="active">
								<div class="image kf-image-hover">
								</div>
								<div class="desc">
									<h5 class="name">Çoban Salatası</h5>
									<div class="subname">
									</div>
									<div class="price"></div>
								</div>
							</div>
						</div>
						<div class="kf-menu-item-col col-xs-12 col-sm-12 col-md-12 col-lg-6 salata">
							<div class="kf-menu-item element-anim-1 scroll-animate" data-animate="active">
								<div class="image kf-image-hover">
								</div>
								<div class="desc">
									<h5 class="name">Taze Meyveli Mevsim Salatası</h5>
									<div class="subname">
									</div>
									<div class="price"></div>
								</div>
							</div>
						</div>
						<div class="kf-menu-item-col col-xs-12 col-sm-12 col-md-12 col-lg-6 salata">
							<div class="kf-menu-item element-anim-1 scroll-animate" data-animate="active">
								<div class="image kf-image-hover">
								</div>
								<div class="desc">
									<h5 class="name">Kuru Meyveli Cevizli Salata</h5>
									<div class="subname">
									</div>
									<div class="price"></div>
								</div>
							</div>
						</div>
						<div class="kf-menu-item-col col-xs-12 col-sm-12 col-md-12 col-lg-6 salata">
							<div class="kf-menu-item element-anim-1 scroll-animate" data-animate="active">
								<div class="image kf-image-hover">
								</div>
								<div class="desc">
									<h5 class="name">3 Peynirli Yeşillik Salatası</h5>
									<div class="subname">
									</div>
									<div class="price"></div>
								</div>
							</div>
						</div>
						<div class="kf-menu-item-col col-xs-12 col-sm-12 col-md-12 col-lg-6 salata">
							<div class="kf-menu-item element-anim-1 scroll-animate" data-animate="active">
								<div class="image kf-image-hover">
								</div>
								<div class="desc">
									<h5 class="name">Yoğurt</h5>
									<div class="subname">
									</div>
									<div class="price"></div>
								</div>
							</div>
						</div>
						<div class="kf-menu-item-col col-xs-12 col-sm-12 col-md-12 col-lg-6 salata">
							<div class="kf-menu-item element-anim-1 scroll-animate" data-animate="active">
								<div class="image kf-image-hover">
								</div>
								<div class="desc">
									<h5 class="name">Cacık</h5>
									<div class="subname">
									</div>
									<div class="price"></div>
								</div>
							</div>
						</div>
						<div class="kf-menu-item-col col-xs-12 col-sm-12 col-md-12 col-lg-6 salata">
							<div class="kf-menu-item element-anim-1 scroll-animate" data-animate="active">
								<div class="image kf-image-hover">
								</div>
								<div class="desc">
									<h5 class="name">Karışık Turşu</h5>
									<div class="subname">
									</div>
									<div class="price"></div>
								</div>
							</div>
						</div>
						<!--
							Tatlılar
						-->
						<div class="kf-menu-item-col col-xs-12 col-sm-12 col-md-12 col-lg-6 tatli">
							<div class="kf-menu-item element-anim-1 scroll-animate" data-animate="active">
								<div class="image kf-image-hover">
								</div>
								<div class="desc">
									<h5 class="name">Pekmezli Ayva Tatlısı</h5>
									<div class="subname">
									</div>
									<div class="price"></div>
								</div>
							</div>
						</div>
						<div class="kf-menu-item-col col-xs-12 col-sm-12 col-md-12 col-lg-6 tatli">
							<div class="kf-menu-item element-anim-1 scroll-animate" data-animate="active">
								<div class="image kf-image-hover">
								</div>
								<div class="desc">
									<h5 class="name">Tahinli Cevizli Kabak Tatlısı</h5>
									<div class="subname">
									</div>
									<div class="price"></div>
								</div>
							</div>
						</div>
						<div class="kf-menu-item-col col-xs-12 col-sm-12 col-md-12 col-lg-6 tatli">
							<div class="kf-menu-item element-anim-1 scroll-animate" data-animate="active">
								<div class="image kf-image-hover">
								</div>
								<div class="desc">
									<h5 class="name">Sacarası</h5>
									<div class="subname">
									</div>
									<div class="price"></div>
								</div>
							</div>
						</div>
						<div class="kf-menu-item-col col-xs-12 col-sm-12 col-md-12 col-lg-6 tatli">
							<div class="kf-menu-item element-anim-1 scroll-animate" data-animate="active">
								<div class="image kf-image-hover">
								</div>
								<div class="desc">
									<h5 class="name">Badem Helvası</h5>
									<div class="subname">
									</div>
									<div class="price"></div>
								</div>
							</div>
						</div>
						<div class="kf-menu-item-col col-xs-12 col-sm-12 col-md-12 col-lg-6 tatli">
							<div class="kf-menu-item element-anim-1 scroll-animate" data-animate="active">
								<div class="image kf-image-hover">
								</div>
								<div class="desc">
									<h5 class="name">Cevizli İncir Dolması</h5>
									<div class="subname">
									</div>
									<div class="price"></div>
								</div>
							</div>
						</div>
						<div class="kf-menu-item-col col-xs-12 col-sm-12 col-md-12 col-lg-6 tatli">
							<div class="kf-menu-item element-anim-1 scroll-animate" data-animate="active">
								<div class="image kf-image-hover">
								</div>
								<div class="desc">
									<h5 class="name">Keşkül'ü Fukara</h5>
									<div class="subname">
									</div>
									<div class="price"></div>
								</div>
							</div>
						</div>
						<div class="kf-menu-item-col col-xs-12 col-sm-12 col-md-12 col-lg-6 tatli">
							<div class="kf-menu-item element-anim-1 scroll-animate" data-animate="active">
								<div class="image kf-image-hover">
								</div>
								<div class="desc">
									<h5 class="name">Maraş Kesme Dondurma</h5>
									<div class="subname">
									</div>
									<div class="price"></div>
								</div>
							</div>
						</div>
						<!--
							Vegan
						-->
						<div class="kf-menu-item-col col-xs-12 col-sm-12 col-md-12 col-lg-6 vegan">
							<div class="kf-menu-item element-anim-1 scroll-animate" data-animate="active">
								<div class="image kf-image-hover">
								</div>
								<div class="desc">
									<h5 class="name">Cevizli Fıstıklı Köz Biberi Çorbası</h5>
									<div class="subname">
									</div>
									<div class="price"></div>
								</div>
							</div>
						</div>
						<div class="kf-menu-item-col col-xs-12 col-sm-12 col-md-12 col-lg-6 vegan">
							<div class="kf-menu-item element-anim-1 scroll-animate" data-animate="active">
								<div class="image kf-image-hover">
								</div>
								<div class="desc">
									<h5 class="name">Patatesli Sıkma</h5>
									<div class="subname">
									</div>
									<div class="price"></div>
								</div>
							</div>
						</div>
						<div class="kf-menu-item-col col-xs-12 col-sm-12 col-md-12 col-lg-6 vegan">
							<div class="kf-menu-item element-anim-1 scroll-animate" data-animate="active">
								<div class="image kf-image-hover">
								</div>
								<div class="desc">
									<h5 class="name">Közlenmiş Patlıcanlı Biberli Sıkma</h5>
									<div class="subname">
									</div>
									<div class="price"></div>
								</div>
							</div>
						</div>
						<div class="kf-menu-item-col col-xs-12 col-sm-12 col-md-12 col-lg-6 vegan">
							<div class="kf-menu-item element-anim-1 scroll-animate" data-animate="active">
								<div class="image kf-image-hover">
								</div>
								<div class="desc">
									<h5 class="name">Safranlı Bademli Bulgur Pilavı</h5>
									<div class="subname">
									</div>
									<div class="price"></div>
								</div>
							</div>
						</div>
						<div class="kf-menu-item-col col-xs-12 col-sm-12 col-md-12 col-lg-6 vegan">
							<div class="kf-menu-item element-anim-1 scroll-animate" data-animate="active">
								<div class="image kf-image-hover">
								</div>
								<div class="desc">
									<h5 class="name">Hasseten Lokma</h5>
									<div class="subname">
									</div>
									<div class="price"></div>
								</div>
							</div>
						</div>
						<div class="kf-menu-item-col col-xs-12 col-sm-12 col-md-12 col-lg-6 vegan">
							<div class="kf-menu-item element-anim-1 scroll-animate" data-animate="active">
								<div class="image kf-image-hover">
								</div>
								<div class="desc">
									<h5 class="name">Pekmezli Havuç Yemeği</h5>
									<div class="subname">
									</div>
									<div class="price"></div>
								</div>
							</div>
						</div>
						<div class="kf-menu-item-col col-xs-12 col-sm-12 col-md-12 col-lg-6 vegan">
							<div class="kf-menu-item element-anim-1 scroll-animate" data-animate="active">
								<div class="image kf-image-hover">
								</div>
								<div class="desc">
									<h5 class="name">Kırmızı Pancar Yemeği</h5>
									<div class="subname">
									</div>
									<div class="price"></div>
								</div>
							</div>
						</div>
						<div class="kf-menu-item-col col-xs-12 col-sm-12 col-md-12 col-lg-6 vegan">
							<div class="kf-menu-item element-anim-1 scroll-animate" data-animate="active">
								<div class="image kf-image-hover">
								</div>
								<div class="desc">
									<h5 class="name">Ispanak Borani</h5>
									<div class="subname">
									</div>
									<div class="price"></div>
								</div>
							</div>
						</div>
						<div class="kf-menu-item-col col-xs-12 col-sm-12 col-md-12 col-lg-6 vegan">
							<div class="kf-menu-item element-anim-1 scroll-animate" data-animate="active">
								<div class="image kf-image-hover">
								</div>
								<div class="desc">
									<h5 class="name">Patlıcan Kalyesi</h5>
									<div class="subname">
									</div>
									<div class="price"></div>
								</div>
							</div>
						</div>
						<div class="kf-menu-item-col col-xs-12 col-sm-12 col-md-12 col-lg-6 vegan">
							<div class="kf-menu-item element-anim-1 scroll-animate" data-animate="active">
								<div class="image kf-image-hover">
								</div>
								<div class="desc">
									<h5 class="name">Fasülye Kalyesi</h5>
									<div class="subname">
									</div>
									<div class="price"></div>
								</div>
							</div>
						</div>
						<div class="kf-menu-item-col col-xs-12 col-sm-12 col-md-12 col-lg-6 vegan">
							<div class="kf-menu-item element-anim-1 scroll-animate" data-animate="active">
								<div class="image kf-image-hover">
								</div>
								<div class="desc">
									<h5 class="name">Biber Kalyesi</h5>
									<div class="subname">
									</div>
									<div class="price"></div>
								</div>
							</div>
						</div>
						<div class="kf-menu-item-col col-xs-12 col-sm-12 col-md-12 col-lg-6 vegan">
							<div class="kf-menu-item element-anim-1 scroll-animate" data-animate="active">
								<div class="image kf-image-hover">
								</div>
								<div class="desc">
									<h5 class="name">Karışık Kalye Tabağı</h5>
									<div class="subname">
									</div>
									<div class="price"></div>
								</div>
							</div>
						</div>
						<!--Vejeteryan-->
						<div class="kf-menu-item-col col-xs-12 col-sm-12 col-md-12 col-lg-6 vejeteryan">
							<div class="kf-menu-item element-anim-1 scroll-animate" data-animate="active">
								<div class="image kf-image-hover">
								</div>
								<div class="desc">
									<h5 class="name">Cevizli Fıstıklı Köz Biberi Çorbası</h5>
									<div class="subname">
									</div>
									<div class="price"></div>
								</div>
							</div>
						</div>
						<div class="kf-menu-item-col col-xs-12 col-sm-12 col-md-12 col-lg-6 vejeteryan">
							<div class="kf-menu-item element-anim-1 scroll-animate" data-animate="active">
								<div class="image kf-image-hover">
								</div>
								<div class="desc">
									<h5 class="name">Patatesli Sıkma</h5>
									<div class="subname">
									</div>
									<div class="price"></div>
								</div>
							</div>
						</div>
						<div class="kf-menu-item-col col-xs-12 col-sm-12 col-md-12 col-lg-6 vejeteryan">
							<div class="kf-menu-item element-anim-1 scroll-animate" data-animate="active">
								<div class="image kf-image-hover">
								</div>
								<div class="desc">
									<h5 class="name">Közlenmiş Patlıcanlı Biberli Sıkma</h5>
									<div class="subname">
									</div>
									<div class="price"></div>
								</div>
							</div>
						</div>
						<div class="kf-menu-item-col col-xs-12 col-sm-12 col-md-12 col-lg-6 vejeteryan">
							<div class="kf-menu-item element-anim-1 scroll-animate" data-animate="active">
								<div class="image kf-image-hover">
								</div>
								<div class="desc">
									<h5 class="name">Safranlı Bademli Bulgur Pilavı</h5>
									<div class="subname">
									</div>
									<div class="price"></div>
								</div>
							</div>
						</div>
						<div class="kf-menu-item-col col-xs-12 col-sm-12 col-md-12 col-lg-6 vejeteryan">
							<div class="kf-menu-item element-anim-1 scroll-animate" data-animate="active">
								<div class="image kf-image-hover">
								</div>
								<div class="desc">
									<h5 class="name">Hasseten Lokma</h5>
									<div class="subname">
									</div>
									<div class="price"></div>
								</div>
							</div>
						</div>
						<div class="kf-menu-item-col col-xs-12 col-sm-12 col-md-12 col-lg-6 vejeteryan">
							<div class="kf-menu-item element-anim-1 scroll-animate" data-animate="active">
								<div class="image kf-image-hover">
								</div>
								<div class="desc">
									<h5 class="name">Pekmezli Havuç Yemeği</h5>
									<div class="subname">
									</div>
									<div class="price"></div>
								</div>
							</div>
						</div>
						<div class="kf-menu-item-col col-xs-12 col-sm-12 col-md-12 col-lg-6 vejeteryan">
							<div class="kf-menu-item element-anim-1 scroll-animate" data-animate="active">
								<div class="image kf-image-hover">
								</div>
								<div class="desc">
									<h5 class="name">Kırmızı Pancar Yemeği</h5>
									<div class="subname">
									</div>
									<div class="price"></div>
								</div>
							</div>
						</div>
						<div class="kf-menu-item-col col-xs-12 col-sm-12 col-md-12 col-lg-6 vejeteryan">
							<div class="kf-menu-item element-anim-1 scroll-animate" data-animate="active">
								<div class="image kf-image-hover">
								</div>
								<div class="desc">
									<h5 class="name">Ispanak Borani</h5>
									<div class="subname">
									</div>
									<div class="price"></div>
								</div>
							</div>
						</div>
						<div class="kf-menu-item-col col-xs-12 col-sm-12 col-md-12 col-lg-6 vejeteryan">
							<div class="kf-menu-item element-anim-1 scroll-animate" data-animate="active">
								<div class="image kf-image-hover">
								</div>
								<div class="desc">
									<h5 class="name">Patlıcan Kalyesi</h5>
									<div class="subname">
									</div>
									<div class="price"></div>
								</div>
							</div>
						</div>
						<div class="kf-menu-item-col col-xs-12 col-sm-12 col-md-12 col-lg-6 vejeteryan">
							<div class="kf-menu-item element-anim-1 scroll-animate" data-animate="active">
								<div class="image kf-image-hover">
								</div>
								<div class="desc">
									<h5 class="name">Fasülye Kalyesi</h5>
									<div class="subname">
									</div>
									<div class="price"></div>
								</div>
							</div>
						</div>
						<div class="kf-menu-item-col col-xs-12 col-sm-12 col-md-12 col-lg-6 vejeteryan">
							<div class="kf-menu-item element-anim-1 scroll-animate" data-animate="active">
								<div class="image kf-image-hover">
								</div>
								<div class="desc">
									<h5 class="name">Biber Kalyesi</h5>
									<div class="subname">
									</div>
									<div class="price"></div>
								</div>
							</div>
						</div>
						<div class="kf-menu-item-col col-xs-12 col-sm-12 col-md-12 col-lg-6 vejeteryan">
							<div class="kf-menu-item element-anim-1 scroll-animate" data-animate="active">
								<div class="image kf-image-hover">
								</div>
								<div class="desc">
									<h5 class="name">Karışık Kalye Tabağı</h5>
									<div class="subname">
									</div>
									<div class="price"></div>
								</div>
							</div>
						</div>


						<!--
							İçecekler
						-->
						<div class="kf-menu-item-col col-xs-12 col-sm-12 col-md-12 col-lg-6 icecekler">
							<div class="kf-menu-item element-anim-1 scroll-animate" data-animate="active">
								<div class="image kf-image-hover">
								</div>
								<div class="desc">
									<h5 class="name">Reyhan Şerbeti</h5>
									<div class="subname">
									</div>
									<div class="price"></div>
								</div>
							</div>
						</div>

						<div class="kf-menu-item-col col-xs-12 col-sm-12 col-md-12 col-lg-6 icecekler">
							<div class="kf-menu-item element-anim-1 scroll-animate" data-animate="active">
								<div class="image kf-image-hover">
								</div>
								<div class="desc">
									<h5 class="name">Sirkencübin Şerbeti</h5>
									<div class="subname">
									</div>
									<div class="price"></div>
								</div>
							</div>
						</div>

						<div class="kf-menu-item-col col-xs-12 col-sm-12 col-md-12 col-lg-6 icecekler">
							<div class="kf-menu-item element-anim-1 scroll-animate" data-animate="active">
								<div class="image kf-image-hover">
								</div>
								<div class="desc">
									<h5 class="name">Gül Şerbeti</h5>
									<div class="subname">
									</div>
									<div class="price"></div>
								</div>
							</div>
						</div>

						<div class="kf-menu-item-col col-xs-12 col-sm-12 col-md-12 col-lg-6 icecekler">
							<div class="kf-menu-item element-anim-1 scroll-animate" data-animate="active">
								<div class="image kf-image-hover">
								</div>
								<div class="desc">
									<h5 class="name">Demirhindi Şerbeti</h5>
									<div class="subname">
									</div>
									<div class="price"></div>
								</div>
							</div>
						</div>

						<div class="kf-menu-item-col col-xs-12 col-sm-12 col-md-12 col-lg-6 icecekler">
							<div class="kf-menu-item element-anim-1 scroll-animate" data-animate="active">
								<div class="image kf-image-hover">
								</div>
								<div class="desc">
									<h5 class="name">Nar Şerbeti</h5>
									<div class="subname">
									</div>
									<div class="price"></div>
								</div>
							</div>
						</div>

						<div class="kf-menu-item-col col-xs-12 col-sm-12 col-md-12 col-lg-6 icecekler">
							<div class="kf-menu-item element-anim-1 scroll-animate" data-animate="active">
								<div class="image kf-image-hover">
								</div>
								<div class="desc">
									<h5 class="name">Günün Şerbeti</h5>
									<div class="subname">
									</div>
									<div class="price"></div>
								</div>
							</div>
						</div>

						<div class="kf-menu-item-col col-xs-12 col-sm-12 col-md-12 col-lg-6 icecekler">
							<div class="kf-menu-item element-anim-1 scroll-animate" data-animate="active">
								<div class="image kf-image-hover">
								</div>
								<div class="desc">
									<h5 class="name">Taze Sıkma Meyvesuyu</h5>
									<div class="subname">
									</div>
									<div class="price"></div>
								</div>
							</div>
						</div>

						<div class="kf-menu-item-col col-xs-12 col-sm-12 col-md-12 col-lg-6 icecekler">
							<div class="kf-menu-item element-anim-1 scroll-animate" data-animate="active">
								<div class="image kf-image-hover">
								</div>
								<div class="desc">
									<h5 class="name">Ayran</h5>
									<div class="subname">
									</div>
									<div class="price"></div>
								</div>
							</div>
						</div>

						<div class="kf-menu-item-col col-xs-12 col-sm-12 col-md-12 col-lg-6 icecekler">
							<div class="kf-menu-item element-anim-1 scroll-animate" data-animate="active">
								<div class="image kf-image-hover">
								</div>
								<div class="desc">
									<h5 class="name">Sade Soda</h5>
									<div class="subname">
									</div>
									<div class="price"></div>
								</div>
							</div>
						</div>

						<div class="kf-menu-item-col col-xs-12 col-sm-12 col-md-12 col-lg-6 icecekler">
							<div class="kf-menu-item element-anim-1 scroll-animate" data-animate="active">
								<div class="image kf-image-hover">
								</div>
								<div class="desc">
									<h5 class="name">Meyveli Soda</h5>
									<div class="subname">
									</div>
									<div class="price"></div>
								</div>
							</div>
						</div>

						<div class="kf-menu-item-col col-xs-12 col-sm-12 col-md-12 col-lg-6 icecekler">
							<div class="kf-menu-item element-anim-1 scroll-animate" data-animate="active">
								<div class="image kf-image-hover">
								</div>
								<div class="desc">
									<h5 class="name">Küçük Su</h5>
									<div class="subname">
									</div>
									<div class="price"></div>
								</div>
							</div>
						</div>

						<div class="kf-menu-item-col col-xs-12 col-sm-12 col-md-12 col-lg-6 icecekler">
							<div class="kf-menu-item element-anim-1 scroll-animate" data-animate="active">
								<div class="image kf-image-hover">
								</div>
								<div class="desc">
									<h5 class="name">Büyük Su</h5>
									<div class="subname">
									</div>
									<div class="price"></div>
								</div>
							</div>
						</div>




					</div>
				</div>

			</div>
		</section>
	</div>

</div>

<div id="English-Menu-Modal" class="mfp-hide" style="background-color: rgba(0, 0, 0, 0.5);">
	<div class="container">
		<section class="section kf-menu kf-menu-tabs">
			<div class="container">

				<div class="kf-titles align-center">
					<div class="kf-subtitle element-anim-1 scroll-animate animate__active animate__animated" data-animate="active" style="visibility: visible;">
						Chef. Fatih Mehmet
					</div>
					<font color="#851515">
						<h3 class="kf-title element-anim-1 scroll-animate animate__active animate__animated" data-animate="active" style="visibility: visible;" style="color:#851515">
							Food Meal
						</h3>
					</font>
				</div>

				<div class="kf-filter kf-filter-menu element-anim-1 scroll-animate animate__active animate__animated" data-animate="active" style="visibility: visible;">
					<a href="#" data-href=".mevlevix" class="active">Mevlevi</a>
					<a href="#" data-href=".konyax" class="">Konya Kitchen</a>
					<a href="#" data-href=".sicakx" class="">Hot Drinks</a>
					<a href="#" data-href=".kahvaltix" class="">Breakfast</a>
					<a href="#" data-href=".salatax" class="">Salad</a>
					<a href="#" data-href=".veganx" class="">Vegan</a>
					<a href="#" data-href=".vejeteryanx" class="">Vegetarian</a>
					<a href="#" data-href=".iceceklerx" class="">Drinks</a>


				</div>

				<div class="kf-menu-items" style="background-image: url(images/menu_logo.png);">
					<div class="row" style="position: relative; height: 1760px;">
						<!--
						<div class="kf-menu-item-col col-xs-12 col-sm-12 col-md-12 col-lg-12 mevlevix" style="position: absolute;">
														<div class="kf-menu-item element-anim-1 scroll-animate animate__animated animate__active text-align: center;" data-animate="active" style="visibility: visible;">
															<img src="images/Menu/MevleviEn.PNG" style="width: 100%; height: 100%;">
														</div>
													</div>



													<div class="kf-menu-item-col col-xs-12 col-sm-12 col-md-12 col-lg-12 konyax" style="position: absolute;">
														<div class="kf-menu-item element-anim-1 scroll-animate animate__animated animate__active text-align: center;" data-animate="active" style="visibility: visible;">
															<img src="images/Menu/KonyaMutfagiEn.PNG" style="width: 100%; height: 100%; margin-left: 0px; margin-right: auto;">
														</div>
													</div>

													<div class="kf-menu-item-col col-xs-12 col-sm-12 col-md-12 col-lg-12 sicakx" style="position: absolute;">
														<div class="kf-menu-item element-anim-1 scroll-animate animate__animated animate__active text-align: center;" data-animate="active" style="visibility: visible;">
															<img src="images/Menu/SicakİceceklerEn.PNG" style="width: 100%; height: 100%; margin-left: 0px; margin-right: auto;">
														</div>
													</div>

													<div class="kf-menu-item-col col-xs-12 col-sm-12 col-md-12 col-lg-12 kahvaltix" style="position: absolute;">
														<div class="kf-menu-item element-anim-1 scroll-animate animate__animated animate__active text-align: center;" data-animate="active" style="visibility: visible;">
															<img src="images/Menu/KahvaltıEn.PNG" style="width: 100%; height: 100%; margin-left: 0px; margin-right: auto;">
														</div>
													</div>

													<div class="kf-menu-item-col col-xs-12 col-sm-12 col-md-12 col-lg-12 salatax" style="position: absolute;">
														<div class="kf-menu-item element-anim-1 scroll-animate animate__animated animate__active text-align: center;" data-animate="active" style="visibility: visible;">
															<img src="images/Menu/salataen.PNG" style="width: 100%; height: 100%; margin-left: 0px; margin-right: auto;">
														</div>
													</div>

													<div class="kf-menu-item-col col-xs-12 col-sm-12 col-md-12 col-lg-12 veganx" style="position: absolute;">
														<div class="kf-menu-item element-anim-1 scroll-animate animate__animated animate__active text-align: center;" data-animate="active" style="visibility: visible;">
															<img src="images/Menu/VeganEn.PNG" style="width: 100%; height: 100%; margin-left: 0px; margin-right: auto;">
														</div>
													</div>

													<div class="kf-menu-item-col col-xs-12 col-sm-12 col-md-12 col-lg-12 vejeteryanx" style="position: absolute;">
														<div class="kf-menu-item element-anim-1 scroll-animate animate__animated animate__active text-align: center;" data-animate="active" style="visibility: visible;">
															<img src="images/Menu/VejetaryenEn.PNG" style="width: 100%; height: 100%; margin-left: 0px; margin-right: auto;">
														</div>
													</div>
													<div class="kf-menu-item-col col-xs-12 col-sm-12 col-md-12 col-lg-12 iceceklerx" style="position: absolute;">
														<div class="kf-menu-item element-anim-1 scroll-animate animate__animated animate__active text-align: center;"  style="visibility: visible;">
															<img src="images/Menu/icecekleren.PNG" style="width: 100%; height: 100%; margin-left: 0px; margin-right: auto;">
														</div>
													</div>
													-->

					</div>
				</div>

			</div>
		</section>
	</div>

</div>
<div class="popup-container">
	<div class="popup-content">
		<iframe class="video-player" src="" frameborder="0" allowfullscreen></iframe>
	</div>
</div>

